<% provide(:title, 'О сообществе Skill Up' )%>
<div class="post beauty">
<h2>О сообществе Skill Up</h2>

<p>Skill Up - это сообщество начинающих веб-разработчиков. Каждый, кто понимает важность самообразования, саморазвития и постоянного обучения, рано или поздно понимает, что ему нужна компания. Соответствующее окружение, состоящие из людей, которые разделяют те же стремления. Наше сообщество именно таким окружением - мы тоже учимся веб-разработке, мы тоже хотим расти и мы тоже искали(и ищем) единомышленников.
</p>
<p>Кто мы? На данный момент у нас 100% мужской состав, 9 начинающих Rails-разработчиков, 3 фронт-енд разработчика и 1(один) дизайнер. Интересы перемешиваются, так что разделение довольно условно и все в разной степени интересуются и прочими вещами, помимо названных. У нас разный уровень знаний, благодаря чему мы можем помогать тем, кто еще в начале пути и спросить совета у тех, кто ушел дальше.
</p>
<p>В этом и есть вся суть Skill Up - взаимопомощь и, в перспективе, совместные проекты.
</p>
<p>Сейчас мы не спеша набираем первый состав и к концу декабря 2014 надеемся дорасти до 25 активных участников. </p>
</div>
