<% @posts.each do |post| %>
<div class="post">
  <h2><%= link_to post.title, post %></h2>
  <div class="post-content">
    <%= post.content.html_safe %>
    <%= post.user.username || "Автор не указан" %>
  </div>
</div>

<% end %>

<% if current_user %>
  <%= link_to 'Новая запись', new_post_path %>
<% end %>  
