<h1>Категории</h1>
    <% @categories.each do |category| %>
       <%= link_to category.title, category %>
    <% end %>

<br>
<% if current_user %>
<%= link_to 'Новая категория', new_category_path %>
<% end %>  
